body {
    font-family: 'Times New Roman', Times, seriff;
    font-size: 40px;
    line-height: 18%;

}

h1 {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    line-height: 18%;

}

h2 {
    color: red;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 18%;
}

h3 {
    color: coral;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: brown;
    line-height: 100%;
    font-size: 25px;
}
section {
    margin: 7em;
}

main {
    width: 100%;
}

img {
    width: 30%;
}